*{
    margin: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
}

svg{
    width: 20px;
}
.image{
    width: 55px;
    border-radius: 50%;
}
.container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(190, 50, 155);
}
h1{
    font-size: 25px;
}

